.nav-link {
    padding: 1.6rem;
    transition: all ease-in-out 300ms;
    color: #fff;
    background-color: #000;
    font-size: 2rem;
    height: 6rem;
}

.nav-link:hover {
    background-color: #7ad0f8;
    color: #000;
    cursor: pointer;
}

.nav-link:active {
    color: yellow;
}



@media screen and (max-width: 620px) {
    .nav-link.menu {
        display: none;
    }
}
