nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    height: 6.1rem;
}

.menu-icon {
    display: none;
    position: absolute;
    right: 2rem;
    font-size: 3rem;
    color: #fff;
}

.menu-icon:hover {
    cursor: pointer;
}

@media screen and (max-width: 620px) {
    .menu-icon {
        display: block;
    }
}
