.title {
    text-align: center;
    margin: 3rem 0;
}

.image-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    margin: 3rem;
}

@media screen and (max-width: 480px) {
    .image-cards {
        margin: 3rem 0.2rem;
    }
}
